@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-3xl py-6 font-bold;
    }
    h2 {
      @apply text-2xl py-3 font-bold;
    }
    h3 {
        @apply text-xl py-1 font-semibold;
    }
    p {
        @apply pb-4;
    }
    ul {
        @apply list-disc ml-8;
    }
    a {
        @apply text-blue-600;
    }
    input {
        @apply py-2 border-2 shadow rounded
    }
  }

  .btn {
      @apply py-2 px-3 bg-gray-500 hover:bg-black text-white rounded my-4 cursor-pointer
  }

  section{
    @apply lg:py-12
  }

  /* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  top: 40px;
  right: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #a7a7a7;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 34px;
  width: 34px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top:0;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #c4c4c4;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  
  padding: 20px;
}

/* Styling of overlay */
.bm-overlay {
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}